
<section id="habbit-Tracker">
    <div id="create-task-container">
        <form action="/create-task" method="POST">
            <input type="text" name="taskName" placeholder="Enter Task..." required>
            <input type="submit" value="Add task">
        </form>
    </div>            
    <div id="task-list-container">
        <ul>
            <% for(tsk of task){ %>
                <li>
                    
                    <p><%= tsk.taskName %><br>
                        <% if(locals.task){ %>
                            <a href="/delete-task/<%= tsk._id%>">Delete-Task</a>
                        <% } %> 
                    </p>
                </li>

                <%- include('_actionStatus')%>
            <%} %>
        </ul>
    </div>
</section>