<section id="habbit-Tracker">
    <div>
        <form action="/create-task" method="POST">
            <input type="text" name="taskName" placeholder="Enter Task..." required>
            <input type="submit" value="Add task">
        </form>
    </div>            
    <div id="task-list-container">
        <ul>
            <% for(tsk of task){ %>
                <li><p><%= tsk.taskName %><br></p></li>
                <div class="task-actions">
                <% if(locals.task){ %>
                    <form action="/action-status" method="POST">
                        <input type="radio" name="actionStatus" value="true" checked>
                        <label>Done</label>
                        <input type="radio" name="actionStatus" value="false" checked>
                        <label>NotDone</label>
                        <input type="hidden" name="task" value="<%= tsk._id %>">    
                        <input type="submit" value="Submit">
                    </form>
                    
                    <div class="task-actions-list">
                        <ul id="task-actions-<%= task._id %>"></ul>
                            <p>
                                <% for(status of tsk.actions){ %>
                                    <%=status.actionStatus %>                                        
                                <%}%>                                      
                            </p>       
                    </div>
                <% } %>    
                </div>    
            <%} %>
        </ul>
    </div>
</section>