<link rel="stylesheet" href="/css/homehabbit.css">
<body>
    <%- include('_header'); %>

        <main id="layout-main">
            <%- body %>
        </main>

    <%- include('_footer'); %>
</body