:root{
    --bgColor: linear-gradient(to top, #fff5f9, #fef7fb, #fef9fd, #fefbfe, #fefdff, #fdfcfe, #fdfcfe, #fcfbfd, #faf7fb, #f9f4f8, #f8f0f5, #f8ecf1);
    --neuShadow: 0px 12px 20px 0 #00000018;
    font-family: sans-serif;
}


#habit-Tracker{
    list-style: none;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: #efeded;
    margin-top: 1px;
    background-color: #030406;
    background: url(/imgs/liquid-cheese.svg);
    background-attachment: fixed;
    
    background-size: cover;
}


#create-task-container{
    width: 100%;
    height: 15vh;
    text-align: center;
    margin-top: 0px;
    padding-top: 3rem;
    margin-bottom: 0rem;
    border-radius: 13px;
    opacity: 0.9;
}

#habit-input{
    width: 50%;
    padding: 16px;
    float: left;
    font-size: 16px;
    border-radius: 15px;
    margin-right: 4.5rem;
    margin-left: 10%;
}
#habit-input-button{
    padding: 8px 16px 8px 16px;
    color: #008C7F;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 5px;
    float: left;
    margin-right: 6rem;
}
#total-habit{
    color: #008C7F;
    font-size: 16px;
    float: left;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
}

/* MAIN */
#task-list-container{
    height: 80vh;
    opacity: 0.9;
    border-radius: 13px;
    padding: 10px 10px 10px 10px;
    display: block;
    overflow-y:auto;

}
#table-heading{
    text-align: center;
    color: #FFF5F9;
}
#habit-name-heading{
    float: left;
    width: 30%;
    background: #00AAA9; 
    border-radius: 5px 0px 0px 5px; 
    margin-right: 2px;
}
#habit-status-heading{
    width: 69%;
    float: right;
    background: #00AAA9; 
    border-radius: 0px 5px 5px 0px;
}
#task-list-container li{
    text-align: center;
    list-style-type: none;
}

#task-name-container{
    background-image: var(--bgColor);
    height: 14vh;
    width: 30%;
    font-size: x-large;
    float: left !important;
    border-radius: 5px 0px 0px 5px;
    margin-top: 2px;
    padding-top: 0px;
    color: #005B63;
}
#name-and-info-container{
    width: 100%;
    display: inline-block ;
    border-radius: 8px;
    padding-top:0px;
    margin-top: -20px;
    margin-left: -20px;
}
#only-task-name{
    width: 90%;
    border-radius: 8px;
    background-color: #33bbba26;
    float: right;
    margin-right: 10px;
}
#only-task-name p{
   margin: 5px;
}
#task-info{
    width: 9%;
    float: left;
    margin-left: -10px;
}
#task-info p{
    /* margin: 5px; */
 }
/* TABLE */
#update-actions-container{
    background-color: #e1f2f3;
    height: 2.5rem;
    width: 50%;
    float: right !important;
    border-radius: 50px;
    margin: 4px 100px 0px 0px;
}
#update-button{
    float: right;
}
#today-update{
    margin-top: 6px;
    margin-left: 10px;
    float: left;
}

.doneNotDoneButton {
    padding: 5px 5px 4px 5px;
    background: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    float: left;
    opacity: 1;
    margin-top: 4px;
    z-index: 2;
    border: 1px solid #cf9e23;
}
#done-button{
    float: left;
    color: #00AAA9;
    margin-right: 5px;
}
#not-done-button{
    float: right;
    color: #a50d0d;
    margin-right: 5px;
}
#actions-list-container{
    width: 69%;
    height: 14vh;
    float: right;
    border-radius: 0px 5px 5px 0px;
    margin-top: 2px;
    background-image: var(--bgColor);
}
th {
    color: #231e84;
    font-weight: lighter;
}
td {
    padding-top: 1rem;
    font-weight: lighter;
}

.circle-button{
    padding: 5px 5px 4px 5px;
    color: #104763;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50%;
    float: left;
    opacity: 1;
    z-index: 2;
    border: 1px solid #cf9e23;


}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }